<div class="message mb-3 <%= 'owner' if @message.user == @user %>" id="message">
  <div class="content-container">
    <div class="content">
      <%= @message.content %>
    </div>
    <div class="author" id="author" value="<%= @message.user.email %>">
      <%= @message.user.email %>
    </div>
  </div>
</div>
