<div id="<%= dom_id room %>">
  <p>
    <strong>Name:</strong>
    <%= room.name %>
  </p>

  <p> Welcome, <%= current_user.email %></p>



</div>

<div id="Signed-In-Author" value="<%= current_user.email %>" style="display: none;">

</div>